<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Contacto</title>
	</head>
	<body>
		<header>
			<div class="encabezado">
				<img src="/img/logo.jpeg" alt="Sofri" />
				<h1>SoFri</h1>
				<h2>Productos Saludables</h2>
				<nav>
					<a href="/"> Home </a>
					<a href="/nosotros"> Nosotros</a>
					<a href="/productos"> Productos</a>
					<a href="/contacto"> Contacto</a>
				</nav>
			</div>
		</header>
		<h1>CONTACTATE CON NOSOTROS</h1>
		<form action="/"></form>
		<label for="name">Nombre</label>
		<input type="text" name="name" id="name" />
		<label for="message">Mensaje</label>
		<textarea name="message" id="message" cols="30" rows="10"></textarea>
	</body>
</html>
