<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Productos</title>
	</head>
	<body>
		<header>
			<div class="encabezado">
				<img src="/img/logo.jpeg" alt="Sofri" />
				<h1>SoFri</h1>
				<h2>Productos Saludables</h2>
				<nav>
					<a href="/"> Home </a>
					<a href="/nosotros"> Nosotros</a>
					<a href="/productos"> Productos</a>
					<a href="/contacto"> Contacto</a>
				</nav>
			</div>
		</header>
		<h1>PRODUCTOS</h1>
		<ul>
			<li><a href="Producto 1"> Barras clasicas</a></li>
			<li><a href="Producto 2"> Barras con chocolate</a></li>
			<li><a href="Producto 3"> Barras sin azucar</a></li>
			<li><a href="Producto 4"> Barras extra power</a></li>
		</ul>
	</body>
</html>
